body {
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;    
    
}

/**HEADER **/
#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
    
}

#logo-img {    
    display: none;
}

@media (min-width: 1200px) {
    #logo-img {
        background: url('../images/restaurant-logo_large.png') no-repeat;
        width: 150px;
        height: 150px;
        margin: 10px 15px 10px 0;
        display: block;
        padding-top: 35px;
    }
    .navbar-brand {
        padding-top: 30px;
        
    }
    .navbar-brand p {
        margin-top: 15px;
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    #logo-img {
        background: url('../images/restaurant-logo_medium.png') no-repeat;
        width: 100px;
        height: 100px;
        margin: 5px 5px 5px 0;
        display: block;
    }
    .navbar-brand {
        padding-top: 15px;
        height: 80px;
    }
    .navbar-brand h1 { /*name of restaraunt*/
        padding-top: 0px;
        font-size: 2.5vw;
    }
    .navbar-brand p {
        text-transform: uppercase;
        font-size: .6em;
    }
  }

  @media (max-width: 992px) {
    #logo-img {
        background: url('../images/restaurant-logo_small.png') no-repeat;
        width: 50px;
        height: 50px;
        margin: 5px 5px 5px 0;
        display: block;
    }
    .navbar-brand {
        padding-top: 10px;
        height: 80px;
    }
    .navbar-brand h1 { /*name of restaraunt*/
        padding-top: 0px;
        font-size: 2vw;
    }
    .navbar-brand p {
        text-transform: uppercase;
        font-size: .3em;
        margin-top: 0px;
    }
  }


.navbar-brand h1 { /*name of restaraunt*/
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1,5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus { /*remove underlying at focus*/
    text-decoration: none;
} 

.navbar-brand p {
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    
}

.navbar-brand p span {
    vertical-align: middle;
}

/* Collapsable List Start */
#nav-list {
    margin-top: 10px;
    margin-left: 10px;    
}
#nav-list a {
    color: #951C49;
    text-align: center;
}
#nav-list a:hover {
    background-color: #E7E7E7;
}
#nav-list a span {
    font-size: 1.8em;
}
#phone {
    margin-top: 5px;
}
#phone a {
    text-align: right;
    padding-bottom: 0;
    padding-top: 0px;
}
#phone div { /*We Deliver*/
    color: #557c3e;
    text-align: right;
    padding-right: 15px;
}
#collapsable-nav {
    margin-top: -20px;
    
}
/* Collapsable List END */
.navbar-header button.navbar-toggler, .navbar-header .navbar-toggler-icon {
    border: 1px solid #61122f;
}
.navbar-header button.navbar-toggler {
    clear: both;
    
}